body {
    background-color: brown;
    color: white;
}
.move-list {
    text-decoration: none;
    width: 60px;
    height: 20px;
    padding: 30px 20px;
    margin: 30px;
}
.die-bar {
    padding: 30px;
    margin: 20px;

}
button {
    color: 
    width: 50px;
    height: 20px;
}
