body {
    background-color: brown;
    color: white;
    font-family: cabin;
}
.move-list {
    text-decoration: none;
    width: 60px;
    height: 20px;
    padding: 30px 20px;
    margin: 30px;
}
.menu {
    padding: 30px;
    margin: 20px;

    background-color: rgb(6, 76, 134);

}
.computer-hit-splash{
    height: 50px;
    width: 50px;
}
.player-hit-splash{
    height: 50px;
    width: 50px;
    
}
.die-bar{
    float: right;
}
button {
 
    width: 75px;
    height: 30px;
}
.game-title{
    position: center;
}
.view-stage{
    width: 1200px;
    height: 500px;
    background-color: blue;

}
.player-fighter{
    float: left;
}
.computer-fighter{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  float: right;
}
.stat-display{
    padding: 50px;
}