body {
    background-color: brown;
    color: white;
    font-family: cabin;
}
.move-list {
    text-decoration: none;
    width: 60px;
    height: 20px;
    padding: 30px 20px;
    margin: 30px;
}
.menu {
    padding: 30px;
    margin: 20px;
    background-color: #CCCC13;

}
button {
    color: 
    width: 50px;
    height: 20px;
}
.game-title{
    position: center;
}
.view-stage{
    width: 1000px;
    height: 500px;
    background-color: blue;

}
.player-fighter{
    float: left;
}
.computer-fighter{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  float: right;
}